.img
{
	width: 200px;
	height: 200px;
	margin-left: 40%;
}
#formulario
{
	margin-top: 130px;
	margin-bottom: 40px;
	margin-right: 25px;
	margin-left: 30px;
	/*Color formulario interno*/
	background-color: rgba(255,255,265,0.8);
}
.form
{
	position: relative;
	bottom: 100px;
}
#Encabezado_del_formulario
{
	font-family: sans-serif;
	font-weight: bold;
	color: #16A567;
	text-align: center;
}
#txtEstado
{
	color: red;
	font-weight: bold;
}
@media screen and (max-width: 450px)
{
	#Encabezado_del_formulario
	{
		font-size: 18px;
	}
	#formulario
	{
		margin-top: 180px;
	}
	.img
	{
		width: 150px;
		height: 150px;
		margin-left: 25%;
	}
}
@media screen and (max-width: 350px)
{
	#Encabezado_del_formulario
	{
		font-size: 12px;
	}
	#formulario
	{
		margin-top: 180px;
	}
	.img
	{
		width: 110px;
		height: 110px;
		margin-left: 25%;
	}
}

.has-error .error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.Produccion{
	display: none;
}

.detalle-tanque {
	margin-left: 80px;
	width: 90%;
}

.venta {
display: none;
}
.total-leche {
	margin-top: 20px;
}
.total-leche h3 {
	font-size: 18px;
	width: 12%;
	margin: 0 auto;
}

#detalle-venta {
	display: none;
}
.alert {
	display: none;
}
.content-tabla{
	margin-top: 20px;
  border-radius: 5px;
	background: white;
}

.p_mov {
	display: none;
}

