#fondoModalCalculadora{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}

#cerrarCalculadora{
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    font-size: 18px;
    cursor: pointer;
}

#modalCalculadora{
    position: absolute;
    width: 70%;
    max-width: 1000px;
    height: 70vh;
    background: white;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    border-radius: 20px;
}

#calculadora{
    position: relative;
    width: 60%;
    display: block;
    margin: 7.5% auto;
    height: 70%;
    clear: both;
}

#pantalla{
    position: relative;
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 50px;
}

#numeros{
    height: 100%;
}

#numeros div{
    height: 20%;
}

#numeros .num{
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    color: black;
    transition: all 0.5s;
}

#numeros .num:hover{
    background: rgb(240,240,240);
}